{% extends "themes/pages/user/profile/partial/base_user.html" %}
{% load i18n %}
{% load static %}

{% block content_user %}

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h3 class="panel-title">Informacion Coin Kass<a
                    class="heading-elements-toggle"><i class="icon-more"></i></a>
            </h3>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-body panel-body-accent">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-enter6 icon-3x text-success-400"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin text-semibold">652,549</h3>
                                <span class="text-uppercase text-size-mini text-muted">total coin kass</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-body panel-body-accent">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-enter6 icon-3x text-success-400"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin text-semibold">652,549</h3>
                                <span class="text-uppercase text-size-mini text-muted">total coin invitado</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-body panel-body-accent">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-enter6 icon-3x text-success-400"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin text-semibold">652,549</h3>
                                <span class="text-uppercase text-size-mini text-muted">total coin afiliado</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-4">
                    <div class="panel panel-body bg-success-400 has-bg-image">
                        <div class="media no-margin">
                            <div class="media-left media-middle">
                                <i class="icon-pointer icon-3x opacity-75"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="no-margin">652,549</h3>
                                <span class="text-uppercase text-size-mini">Actual coin kass</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content_user %}
