{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}

{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">

                            <div class="panel-body">
                                    <div class="text-center">
                                         <h1>Pago de servicios</h1>
                                            <br>
                                             <form id="form-proyect-1" class="form-horizontal">
                                                
                                                {% csrf_token %}
                                             
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-3 form-group">
                                                            <label>Tipo Documento</label>
                                                            <select class="form-control">
                                                                <option>DNI</option>
                                                                <option>Carnet de extrangeria</option>
                                                                <option>Libreta Militar</option>
                                                            </select>
                                                            
                                                        </div>

                                                        <div class="col-lg-3 form-group">
                                                            <label>Numero documento</label>
                                                             <input type="text" class="form-control" value="71718406">
                                                        </div>

                                                        <div class="col-lg-3 form-group">
                                                            <label>Empresa pagar</label>
                                                            
                                                            <select class="form-control">
                                                                <option>Bitel</option>
                                                                <option>Movistar</option>
                                                                <option>Claro</option>
                                                                <option>Entel</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-3 form-group">                                                           
                                                            
                                                            <label>Acción</label>
                                                            <a href="lista-pagos/" class="form-control btn-success"> Ver Pagos </a>
                                                        </div>

                                                    </div>
                                                                                               
                                                </div>
                                            </form>
                                    </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}


