{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}

{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">

                            <div class="panel-body">
                                    <div class="text-center">
                                         <h1>WELCOME TO EXCLUSIVE FURNITURE</h1>
                                            <br>
                                             <p>   We are an independent company established in the industry since 1990.
                                                We pride ourselves in the making of exclusive quality furniture.
                                            Product range consists of Dining, Bedroom, Occasional and Lounge Designs.
                                            </p>
                                    </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}


