{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}

{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">

                            <div class="panel-body">
                                    <div class="text-center">
                                         <h1>EVM PARA CONSTRUCCION</h1>
                                            <br>
                                             <p>   
                                                La gestión del valor ganado es una técnica de gestión de proyectos que   permite controlar la ejecución de un proyecto a través de su presupuesto y de su calendario de ejecución.
                                                Compara la cantidad de trabajo ya completada en un momento dado con la estimación realizada antes del comienzo del proyecto. De este modo, se tiene una medida de cuánto trabajo se ha realizado, cuanto queda para finalizar el proyecto y extrapolando a partir del esfuerzo invertido en el proyecto, el jefe de proyecto puede estimar los recursos que se emplearán para finalizar el proyecto.
                                            </p>
                                    </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}


