<div class="panel panel-flat">
    <div class="list-group no-border no-padding-top">
        <a href="{% url 'user_app:profile' uuid=user.get_profile.uid %}" class="list-group-item">
            <i class="icon-user"></i> My profile
        </a>
        <a href="{% url 'user_app:company' %}" class="list-group-item">
            <i class="icon-home9"></i> My company
        </a>
        <a href="{% url 'user_app:coin-kas' %}" class="list-group-item">
            <i class="icon-cash3"></i> My coin-kas
        </a>
        <a href="{% url 'user_app:invited' %}" class="list-group-item">
            <i class="icon-tree7"></i> Invite <span class="badge bg-danger pull-right">29</span>
        </a>
        <a href="{% url 'user_app:code-company' %}" class="list-group-item">
            <i class="icon-users"></i> Code Association
        </a>
        <a href="{% url 'user_app:company-tree' %}" class="list-group-item">
            <i class="icon-users"></i> Tree Company Consumed
        </a>
        <div class="list-group-divider"></div>
        <a href="{% url 'user_app:change-password' %}" class="list-group-item">
            <i class="icon-cog3"></i> Change Password</a>
    </div>
</div>
