{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}

{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">


                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h3 class="panel-title">Listado Pagos Pedientes<a
                                        class="heading-elements-toggle"><i class="icon-more"></i></a>
                                </h3>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="reload"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <table class="table table-bordered table-hover datatable-highlight">
                                    <thead>
                                    <tr>
                                        <th>Cod Concepto</th>
                                        <th>Descripción</th>
                                        <th>Moneda</th>
                                        <th>Importe</th>
                                        <th>Fecha de Vencimiento</th>
                                        <th>Acción</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in pagos %}
                                        <tr>
                                            <td>{{ item.cod_concepto }}</td>
                                            <td>{{ item.nb_concepto }}</td>
                                            <td>{{ item.cd_moneda }}</td>
                                            <td>{{ item.nu_importe }}</td>
                                            <td>{{ item.fec_vcto }}</td>
                                            <td>
                                                <a href="{% url 'project_app:vista-pagos' %}" class=" btn btn-primary btn-xs btn-icon" ><icon class="glyphicon glyphicon-shopping-cart"></icon></a>
                                                <a  class="btn btn-primary btn-xs btn-icon"><icon class="icon-eye"></icon></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}



{% block js_plugins_after %}
{% endblock js_plugins_after %}

{% block js_plugins_before %}
{% endblock js_plugins_before %}

