{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
<style type="text/css">
    #thodyxD {
        overflow-y: scroll;
        height: 200px;
        width: 100%;
        position: absolute;
    }
    .no-padding{
        padding: 0px;
    }
</style>
{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">

                         <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h6 class="panel-title">Datos Generales</h6>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="reload"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <form id="form-proyect-1" class="form-horizontal" action="/project/save/dg">
                                    {% csrf_token %}
                                    {% bootstrap_form_errors form %}
                                 
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {% bootstrap_field form.name %}
                                            <div id="id-error-{{form.name.name}}" class="no-padding"></div>
                                        </div>                                                    
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {% bootstrap_field form.description %}
                                            <div id="id-error-{{form.description.name}}" class="no-padding"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            {% bootstrap_field form.periods %}
                                            <div id="id-error-{{form.periods.name}}" class="no-padding"></div>
                                        </div>
                                        <div class="col-lg-6">
                                            {% bootstrap_field form.contractor %}
                                            <div id="id-error-{{form.contractor.name}}" class="no-padding"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            {% bootstrap_field form.resident %}
                                            <div id="id-error-{{form.resident.name}}" class="no-padding"></div>
                                        </div>
                                        <div class="col-lg-6">
                                            {% bootstrap_field form.supervisor %}
                                            <div id="id-error-{{form.supervisor.name}}" class="no-padding"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            {% bootstrap_field form.execution_time %}
                                            <div id="id-error-{{form.execution_time.name}}" class="no-padding"></div>
                                        </div>
                                        <div class="col-lg-4">
                                            {% bootstrap_field form.start_date %}
                                            <div id="id-error-{{form.start_date.name}}" class="no-padding"></div>
                                        </div>            
                                        <div class="col-lg-4">
                                            {% bootstrap_field form.end_date %}
                                            <div id="id-error-{{form.end_date.name}}" class="no-padding"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <button class="btn btn-primary stepy-finish" id="crear_proyecto" >Crear Proyecto <i
                                        class="icon-check position-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}


{% block js_plugins_before %}
    <script>

       

        $(function () {
            $('#crear_proyecto').click(function() {
                data_form = $('#form-proyect-1').serialize();
                console.log(data_form);
                $.ajax({
                    url: '/project/save/dg',//'/es/project/save/datos_generales',
                    data: data_form,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        if(data['form_is_valid']){
                            alert("Los datos del proyecto se ha guardado correctamente");
                            window.location.replace("http://doctorbot.net/project-list/");
                        }else{
                            $.each($.parseJSON(data['form_errors']), function(id_input, errors) {
                                $.each(errors, function(j, item) {
                                    $('#id-error-'+id_input).html('<div class="alert alert-info alert-styled-left alert-bordered" style="padding: 0px;margin-bottom: 0px;"><button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button><p>'+item['message']+'</p></div>');
                                });
                            });

                            window.location.replace("http://doctorbot.net/project-list/");

                            /*
                            $('#id_'+id_input).after('<div style="font-size: 9px;"><br><div class="alert alert-danger alert-dismissible fade in" role="alert" style="padding: 10px;margin-bottom: 10px;"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> '+item['message']+'</div></div>');
                            name
                            description
                            periods
                            contractor
                            resident
                            supervisor
                            execution_time
                            start_date
                            end_date
                            {
                                "name": [{"message": "Este campo es obligatorio.", "code": "required"}], 
                                "periods": [{"message": "Este campo es obligatorio.", "code": "required"}], 
                                "contractor": [{"message": "Este campo es obligatorio.", "code": "required"}], 
                                "resident": [{"message": "Este campo es obligatorio.", "code": "required"}], 
                                "supervisor": [{"message": "Este campo es obligatorio.", "code": "required"}], 
                                "execution_time": [{"message": "Este campo es obligatorio.", "code": "required"}], 
                                "start_date": [{"message": "Este campo es obligatorio.", "code": "required"}], 
                                "end_date": [{"message": "Este campo es obligatorio.", "code": "required"}]
                            }*/
                        }
                    }
                });
            });
        });
        /*$("#id_username").change(function () {
          var username = $(this).val();

          $.ajax({
            url: '/ajax/validate_username/',
            data: {
              'username': username
            },
            dataType: 'json',
            success: function (data) {
              if (data.is_taken) {
                alert("A user with this username already exists.");
              }
            }
          });

        });*/
    </script>

{% endblock js_plugins_before %}

