{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}

{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">


                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h3 class="panel-title">Listado Projectos<a
                                        class="heading-elements-toggle"><i class="icon-more"></i></a>
                                </h3>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="reload"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <table class="table table-bordered table-hover datatable-highlight">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>dataset reference</th>
                                        <th>descripcion</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Project {1}</td>
                                        <td>Dataset {1}</td>
                                        <td></td>
                                        <td><span class="label label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Project {2}</td>
                                        <td>Dataset {1}</td>
                                        <td>Traffic Court Referee</td>
                                        <td><span class="label label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Project {3}</td>
                                        <td>Dataset {2}</td>
                                        <td>Traffic Court Referee</td>
                                        <td><span class="label label-success">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>Project {4}</td>
                                        <td>Dataset {3}</td>
                                        <td></td>
                                        <td><span class="label label-success">Active</span></td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}



{% block js_plugins_after %}
{% endblock js_plugins_after %}

{% block js_plugins_before %}
{% endblock js_plugins_before %}

