{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}

{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">


                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h3 class="panel-title">Listado Projectos<a
                                        class="heading-elements-toggle"><i class="icon-more"></i></a>
                                </h3>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="reload"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <table class="table table-bordered table-hover datatable-highlight">
                                    <thead>
                                    <tr>
                                        <th>Nombre del Projecto</th>
                                        <th>Contratante</th>
                                        <th>Fecha de Inicio</th>
                                        <th>Fecha de Termino</th>
                                        <th>Estado </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in project %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.contractor }}</td>
                                            <td>{{ item.start_date }}</td>
                                            <td>{{ item.end_date }}</td>
                                            <td><span class="label label-success">Active</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}



{% block js_plugins_after %}
{% endblock js_plugins_after %}

{% block js_plugins_before %}
{% endblock js_plugins_before %}

