{% extends "themes/dashboard/base_extension.html" %}
{% load i18n %}
{% load static %}
<style type="text/css">
    #thodyxD {
        overflow-y: scroll;
        height: 200px;
        width: 100%;
        position: absolute;
    }

</style>
{% block sidebar1_page %}
    <div class="container-detached">
        <div class="content-detached">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="content-group">

                        <div class="panel panel-white">

                            <form class="stepy-clickable form-horizontal" action="#">
                                <fieldset title="1">
                                    <legend class="text-semibold">Project</legend>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">

                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Project Name:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control"
                                                               placeholder="Eugene Kopyov">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Description:</label>
                                                    <div class="col-lg-9">
                                                            <textarea rows="5" cols="5" class="form-control"
                                                                      placeholder="Enter your message here"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset title="2">
                                    <legend class="text-semibold">Dataset</legend>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="tabbable">
                                                <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                                                    <li class="active"><a href="#top-justified-divided-tab1"
                                                                          data-toggle="tab">
                                                        Test Dataset<i class="icon-database-insert position-right"></i></a>
                                                    </li>
                                                    <li><a href="#top-justified-divided-tab2" data-toggle="tab">
                                                        My Dataset<i
                                                            class="icon-database-insert position-right"></i></a>
                                                    </li>
                                                    <li><a href="#top-justified-divided-tab3" data-toggle="tab">
                                                        Load Dataset <i class="icon-database position-right"></i></a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="top-justified-divided-tab1">
                                                        <div class="panel-heading">
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-10 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="col-lg-3 control-label">Test
                                                                            Dataset:</label>
                                                                        <div class="col-lg-9">
                                                                            <select data-placeholder="Select your state"
                                                                                    class="select form-control">
                                                                                <option value="AK">DATASE 1</option>
                                                                                <option value="HI">DATASET 2</option>
                                                                                <option value="HI">DATASET 3</option>
                                                                                <option value="HI">DATASET 4</option>
                                                                                <option value="HI">DATASET 5</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="top-justified-divided-tab2">
                                                        <div class="panel-heading">
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-10 col-md-offset-1">
                                                                    <div class="form-group">
                                                                        <label class="col-lg-3 control-label">My
                                                                            Dataset:</label>
                                                                        <div class="col-lg-9">
                                                                            <select data-placeholder="Select your state"
                                                                                    class="select form-control">
                                                                                <option value="AK">DATASE 1</option>
                                                                                <option value="HI">DATASET 2</option>
                                                                                <option value="HI">DATASET 3</option>
                                                                                <option value="HI">DATASET 4</option>
                                                                                <option value="HI">DATASET 5</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="top-justified-divided-tab3">
                                                        <div class="panel-heading">
                                                            <div class="row">
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped active"
                                                                         style="width: 50%">
                                                                        <span>50% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-10 col-md-offset-1">

                                                                    <div class="form-group">
                                                                        <label>Cargar archivo 10000GB:</label>
                                                                        <div class="uploader">
                                                                            <input type="file" class="file-styled"/>
                                                                        </div>
                                                                        <span class="help-block">Accepted formats: csv</span>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Nombre:</label>
                                                                        <input type="text" class="form-control"
                                                                               placeholder="Nombre del cvs">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label>Formato:</label>
                                                                        <input type="password" class="form-control"
                                                                               placeholder="formato">
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label>Descripcion:</label>
                                                                        <textarea rows="5" cols="5"
                                                                                  class="form-control"
                                                                                  placeholder="descripcion"></textarea>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset title="3">
                                    <legend class="text-semibold">Data Dictionary</legend>

                                    <div class="row">


                                        <div class="table-responsive pre-scrollable">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Apply</th>
                                                    <th class="text-center"><label class="checkbox-inline">
                                                        <input type="checkbox" class="styled" checked="checked">
                                                        ID
                                                    </label></th>
                                                    <th  class="text-center"><label class="checkbox-inline">
                                                        <input type="checkbox" class="styled" checked="checked">
                                                        nombre
                                                    </label></th>
                                                    <th  class="text-center"><label class="checkbox-inline">
                                                        <input type="checkbox" class="styled" checked="checked">
                                                       edad
                                                    </label></th>
                                                    <th class="text-center"><label class="checkbox-inline">
                                                        <input type="checkbox" class="styled" checked="checked">
                                                        sexo
                                                    </label></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><b>Data Type</b></td>
                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="HI">Real</option>
                                                            <option value="HI">Text</option>
                                                            <option value="HI">Polimonial</option>
                                                            <option value="HI">Binominial</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="HI">Real</option>
                                                            <option value="HI">Text</option>
                                                            <option value="HI">Polimonial</option>
                                                            <option value="HI">Binominial</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="HI">Real</option>
                                                            <option value="HI">Text</option>
                                                            <option value="HI">Polimonial</option>
                                                            <option value="HI">Binominial</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="HI">Real</option>
                                                            <option value="HI">Text</option>
                                                            <option value="HI">Polimonial</option>
                                                            <option value="HI">Binominial</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Rol</b></td>
                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="AK">ID</option>
                                                            <option value="AK">label</option>
                                                            <option value="HI">Attribute</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="AK">ID</option>
                                                            <option value="AK">label</option>
                                                            <option value="HI">Attribute</option>
                                                        </select>
                                                    </td>

                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="AK">ID</option>
                                                            <option value="AK">label</option>
                                                            <option value="HI">Attribute</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select data-placeholder="Select your state"
                                                                class="select form-control">
                                                            <option value="AK">ID</option>
                                                            <option value="AK">label</option>
                                                            <option value="HI">Attribute</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>

                                        <div class="hot-container has-scroll">
                                            <div id="hot_scroll"></div>
                                        </div>
                                        <br><br>

                                    </div>
                                </fieldset>

                                <fieldset title="4">
                                    <legend class="text-semibold">Coins kass</legend>

                                    <div class="row">
                                        <div class="panel-body">
                                            <fieldset class="form-vertical">
                                                <legend class="text-semibold"> Estructura Dataset</legend>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-lg-3 control-label">Filas:</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" value="1000">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-lg-3 control-label">Columnas:</label>
                                                            <div class="col-lg-9">
                                                                <input type="text" class="form-control" value="3555">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend class="text-semibold">Cuenta Cliente</legend>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Saldo Coin-kass
                                                        Actual:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" value="1000">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Requerimiento:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" value="500">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">Saldo a queda:</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" value="500">
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </div>


                                    </div>
                                </fieldset>

                                <fieldset title="5">
                                    <legend class="text-semibold">Send</legend>

                                    <div class="row">
                                        <br><br>
                                        <div class="text-center">
                                            <div><span class="text-center">Esta procediendo el envio</span></div>
                                            <div class="pace-demo" style="padding-top: 10px; padding-bottom: 30px;">
                                                <div class="theme_tail_circle theme_tail_with_text">
                                                    <div class="pace_progress" data-progress-text="60%"
                                                         data-progress="60"></div>
                                                    <div class="pace_activity"></div>
                                                    <span>60%</span>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                        <br><br>
                                    </div>
                                </fieldset>
                                <br>

                                <button type="submit" class="btn btn-primary stepy-finish">Submit <i
                                        class="icon-check position-right"></i></button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock sidebar1_page %}


{% block js_plugins_after %}
    <script src="{% static 'themes/global/forms/wizards/stepy.min.js' %}"></script>
    <script src="{% static 'themes/global/tables/handsontable/handsontable.full.min.js' %}"></script>
{% endblock js_plugins_after %}

{% block js_plugins_before %}
    <script>
        $(function () {

            $.fn.stepy.defaults.legend = false;
            $.fn.stepy.defaults.transition = 'fade';
            $.fn.stepy.defaults.duration = 150;
            $.fn.stepy.defaults.backLabel = '<i class="icon-arrow-left13 position-left"></i> Back';
            $.fn.stepy.defaults.nextLabel = 'Next <i class="icon-arrow-right14 position-right"></i>';

            $(".stepy-clickable").stepy({
                titleClick: true
            });

            $('.stepy-step').find('.button-next').addClass('btn btn-primary');
            $('.stepy-step').find('.button-back').addClass('btn btn-default');


            var hot_scroll_data = Handsontable.helper.createSpreadsheetData(5, 4);

            // Define element
            var hot_scroll = document.getElementById('hot_scroll');

            // Initialize with options
            var hot_scroll_init = new Handsontable(hot_scroll, {
                data: hot_scroll_data,
                stretchH: 'all',
                rowHeaders: true,
                colHeaders: true
            });

        });
    </script>
{% endblock js_plugins_before %}

